body {
  margin: 0;
  background: #f2f6ff;
  font-family: Arial;
}

.menu-container {
  padding: 40px;
  text-align: center;
}

.title {
  margin-bottom: 30px;
  font-size: 28px;
}

.menu-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.menu-btn {
  padding: 20px 40px;
  font-size: 18px;
  border: none;
  background: #0d6efd;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.page {
  padding: 20px;
  text-align: center;
}

.back-btn {
  background: #444;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 20px;
}

.preview img {
  max-width: 100%;
  margin-top: 20px;
  border-radius: 12px;
}
